/* .portofoliothumb img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    padding: 10px;
} */

.portofoliothumb *,
.portofoliothumb:before,
.portofoliothumb:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.popimage {
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.marbottomsm {
    width: 100%;
    margin-bottom: 14px;
    border-radius: 10px;
}


.fecilities li {
    display: inline-block;
    padding: 0px 4px 4px 4px;
}

.room_details {
    list-style-type: disc;
    padding-left: 20px;
}

.photobtn {
    position: absolute;
    top: 80%;
    right: 6%;
    background-color: #fff;
    color: #333;
    width: 174px;
    height: 40px;
    line-height: 1;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease;
    transform: translateY(100%);
    z-index: 10000;
}

.show {
    transform: translateY(0);
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}




/* .home_feature_list {
    padding-left: 0px !important;
    list-style-type: circle !important;
    display: inline-block;
    color: #222222;
    font-weight: inherit;
    font-size: 18px;
    line-height: 2;
} */